body {
  background-color: #222222;
  font-family: "Square Peg", cursive;
}

.title {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  color: #f3efe0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.random-cats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  margin: 2rem 0 2rem 0;
  padding: 1rem;
  color: #222222;
  background-color: #f3efe0;
  border-radius: 20px;
}

.random-cats__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  grid-template-rows: 1fr 1fr;
  row-gap: 2em;
  margin: 1rem 0 2rem 0;
}

.random-cats__container article {
  position: relative;
}

.cat-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  border: 4px solid #434242;
}

.save-cat-btn {
  position: absolute;
  top: 80%;
  left: 85%;
  background-color: transparent;
  border: none;
  font-size: 3em;
  padding: 0;
  opacity: 80%;
  transition: font-size 0.3s ease;
}

.save-cat-btn:hover {
  font-size: 3.3em;
  cursor: pointer;
  opacity: 100%;
}

.reload-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.8em;
  background-color: #22a39f;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 180px;
  font-size: 20px;
  font-family: "Square Peg", cursive;
}

.error {
  background-color: #EB455F;
  color: #222222;
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: bolder;
}

.favorite-cats__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 2em;
  column-gap: 2em;
}

.favorite-cats__container article {
  position: relative;
}

.delete-cat-btn {
  position: absolute;
  top: 80%;
  left: 85%;
  background-color: transparent;
  border: none;
  font-size: 2.5em;
  padding: 0;
  opacity: 80%;
  transition: font-size 0.3s ease;
}

.delete-cat-btn:hover {
  font-size: 2.8em;
  cursor: pointer;
  opacity: 100%;
}

.favorite-cats__container img {
  width: 200px;
  height: 200px;
}
