:root {
  --light-yellow: #f6f6c9;
  --greeny-gray: #bad1c2;
  --main-green: #4fa095;
  --dark-blue: #152d62;
  --darker-blue: #153462;
  --sm: 12px;
  --md: 14px;
  --lg: 16px;
}

body {
  background-color: var(--light-yellow);
}

#main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--main-green);
  font-size: 52px;
}

#random-images-section, #favorite-images {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-column-gap: 24px;
  grid-row-gap: 12px;
}

img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border: 4px solid var(--greeny-gray);
  border-radius: 4px;
}

.save-btn, .unsave-btn {
  cursor: pointer;
  background-color: var(--greeny-gray);
  border: 4px solid var(--greeny-gray);
  border-radius: 50%;
  padding: 2px;
  font-size: 20px;
}

#reload-btn {
  cursor: pointer;
  padding: 12px 48px;
  margin-top: 16px;
  font-weight: bolder;
  font-size: var(--lg);
  color: var(--light-yellow);
  background-color: var(--darker-blue);
  border: 4px solid var(--dark-blue);
  border-radius: 8px;
}

h2 {
  color: var(--main-green);
  font-size: 36px;
}
